$screen-color: rgb(38, 50, 56);
$body-color: rgb(0, 150, 136);
$btn-color1: rgb(84, 82, 74);
$btn-color2: rgb(51, 51, 51);
$btn-color3: rgb(52, 71, 79);
$btn-color4: rgb(254, 82, 41);
$btn-color10: rgba(254, 82, 41, .8);
$btn-color5: rgb(224, 106, 100);
$btn-color6: rgba(247, 129, 97, .8);
$btn-color7: rgb(224, 234, 241);
$btn-color8: rgb(88, 99, 112);
$btn-color9: rgb(249, 204, 157);

$gray: #ccc;
$white: #fff;
$black: #000;

$margin-button: 0 .65%;
$padding-button: 10px 0;

$font: 'PT mono';
